<h4>Timer placeholder</h4>

{{#placeholder-panel}}
	Current step indicator
{{/placeholder-panel}}

{{#placeholder-panel}}
	Start/stop controls
{{/placeholder-panel}}

{{#placeholder-panel}}
	Time display
{{/placeholder-panel}}

{{#placeholder-panel}}
	Tabular results (use Ember Table)
{{/placeholder-panel}}

{{#placeholder-panel}}
	Stacked area graph
{{/placeholder-panel}}
